{{define "content"}}
<br>
<h1>いいね・コメントページ</h1>
<br>

{{if not .}}
<p>投稿はされていません</p>
{{end}}

{{range .}}
<hr>
<form role="form" action="/browse/increment" method="post">
  <div class="form-group">
    <div class="mb-3 row">
      <div class="col-sm-10">
        <a href="/topics/comment/{{.ID}}"><textarea type="text" readonly class="form-control-plaintext" id="topic"
            name="topic" rows="3">{{.Content}}</textarea></a>
        <p class="text-right">
          <span class="badge rounded-pill bg-light text-dark text-muted">ユーザーネーム:{{.Name}}</span>
        </p>
        <input class="form-control" name="topic_id" id="topic_id" placeholder="topic_id" value="{{.ID}}" hidden>
      </div>
    </div>
  </div>
  <p>公開中です</p>

  <button type="submit" class="btn btn-info">
    &#x1f44d;いいね！<span class="badge bg-secondary" name="likes">{{.Likes}}</span>
  </button>
</form>
<br>
<p>[<a href="/topics">戻る</a>]</p>
  {{end}}
{{end}}