{{define "content"}}
<br>
<p>Myユーザーネーム:{{.Name}}</p>
<h1>ホームページ</h1>

<p>[<a href="/topics/new">作成</a>]</p>

<hr>
{{range .Topics}}
<form role="form" action="/browse" method="post">
  <div class="form-group">
    <div class="mb-3 row">
      <div class="col-sm-10">
        <a href="/topics/comment/{{.ID}}"><textarea type="text" readonly class="form-control-plaintext" id="topic"
            name="topic" rows="3">{{.Content}}</textarea></a>
        <input class="form-control" name="topic_id" id="topic_id" placeholder="topic_id" value="{{.ID}}" hidden>
        <h5 class="text-right"><span name="likes" class="badge bg-info text-dark">&#128077;いいね数<span class="pl-2">{{.Likes}}</span></span></h5>
      </div>
    </div>
    <div class="border col-3">
      <div class="row">
        <div>閲覧状況</div>
        <select class="form-control" name="flag">
          <option {{if eq .Del_flag 1}}selected{{end}}>公開</option>
          <option {{if eq .Del_flag 0}}selected{{end}}>非公開</option>
        </select>
      </div>
    </div>
    <br>
    <br>
    <button class="btn btn-lg btn-primary pull-right" type="submit">送信</button>
  </div>
</form>
<p>[<a href="/topics/edit/{{.ID}}">編集</a>]</p>
<p>[<a href="/topics/delete/{{.ID}}">消去</a>]</p>
<hr>
{{end}}
{{end}}