{{define "content"}}
<br>
<h1 class="text-center">ログイン</h1>
<div class="container text-left">
  <form class="form-signin center" role="form" action="/authenticate" method="post">
    {{$res := index .TemplateData.Data "validation"}}
    <br>
    <div class="mb-3">
      <label class="form-label">メールアドレス</label>
      {{with .TemplateData.Form.Errors.Get "email"}}
      <label class="text-danger">{{.}}</label>
      {{end}}
      <input class="form-control
       {{with .TemplateData.Form.Errors.Get `email`}}
       is-invalid {{end}}" type="email" name="email" autocomplete="off" value="{{$res.Email}}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">パスワード</label>
      {{with .TemplateData.Form.Errors.Get "password"}}
      <label class="text-danger">{{.}}</label>
      {{end}}
      <input class="form-control
       {{with .TemplateData.Form.Errors.Get `password`}}
       is-invalid {{end}}" type="password" name="password" autocomplete="off" value="{{$res.Password}}" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
    <br>
  </form>
</div>
<a class="lead pull-right" href="/signup">登録</a>
{{end}}